@model IEnumerable<Biblioteca.Book>

@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Book Addicts</h1>
    <p class="lead">Es un espacio donde podrás encontrar tus libros favoritos y unirte a nuestra comunidad lectora.</p>
</div>

<div class="container" style="margin: auto">
    <div class="row" style="justify-content: space-between">
        @{ var counter = 1; }

        @foreach (var item in Model)
        {
            <div class="col-sm-3" style="max-width: 200px">
                <a href="~/Books/Details/@item.id">
                    <img src="~/Public/Covers/@item.cover" style="height: 200px; width: auto" />
                </a>

                <div class="book-data">
                    <span class="book-name">
                        @Html.DisplayFor(modelItem => item.title)
                    </span>
                    <p class="book-author">
                        @Html.DisplayFor(modelItem => item.author)
                    </p>
                </div>
            </div>

            if (counter % 3 == 0)
            {
            @:</div><div class="row" style="justify-content: space-between">
                counter = 0;
            }
            counter++;
        }
    </div>

</div>